<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Default config of Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/application-test.log}"/>

    <!-- Appender for mains logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Specific appender for BillingService with simplify pattern -->
    <appender name="BILLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bill.log</file>
        <encoder>
            <!-- Simple Pattern that only dispplay the message -->
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>bill.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Specific appender for Prescription controller with simplify pattern -->
    <appender name="PRESCRIPTION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/prescription.log</file>
        <encoder>
            <!-- Simple Pattern that only dispplay the message -->
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>prescription.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Specific appender for Medical Billing processor with simplify pattern -->
    <appender name="MEDICAL_BILLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/prescription.log</file>
        <encoder>
            <!-- Simple Pattern that only display the message -->
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>medicalBilling.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Specific appender for Inventory controller with simplify pattern -->
    <appender name="INVENTORY_CONTROLLER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/prescription.log</file>
        <encoder>
            <!-- Simple Pattern that only display the message -->
            <pattern>%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>inventoryController.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Console config -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Specific Logger for BillController -->
    <logger name="sae.semestre.six.appointment.bill.BillController" level="INFO" additivity="false">
        <appender-ref ref="BILLING_FILE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>